<h1>Make your form here</h1>

<form method="post" action="/pirates">
  pirate name: <input id="pirate[name]" input type="text" name="pirate[name]"/>
  pirate height: <input id="pirate[height]" input type="text" name="pirate[height]"/>
  pirate weight: <input id="pirate[weight]" input type="text" name="pirate[weight]"/>

  ship1 name: <input id="ship_name_1" type="text" name="[pirate[ships][][name]"/>
  ship1 type: <input id="ship_type_1" input type="text" name="[pirate[ships][][type]"/>
  ship1 booty: <input id="ship_booty_1" input type="text" name="[pirate[ships][][booty]"/>

  ship2 name: <input id="ship_name_2" input type="text" name="[pirate[ships][][name]"/>
  ship2 type: <input id="ship_type_2" input type="text" name="[pirate[ships][][type]"/>
  ship2 booty: <input id="ship_booty_2" input type="text" name="[pirate[ships][][booty]"/>

  <input type="submit" id="submit" value="Submit"/>
</form>